<% @article.reverse.each do |articles| %>
	<div class="cadre">
		<h1>Sujet: <%= articles.sujet %></h1>
		<h2 class="name">Nom: <%= articles.name %></h2>
		<div class="article"><%= articles.message %></div>
		<div class="date">posté le: <%= articles.created_at %></div>
		<div class="date">édité le: <%= articles.updated_at %></div>
		<div class="supprimer">
			<form action="/<%= articles.id %>" method= "post">
				<input type="submit" value="Supprimer">
				<input type="hidden" name="_method" value="delete">
			</form>
		</div>
		<div class="editer">
			<form action="/<%= articles.id %>" method= "get">
				<input type="submit" value="Editer">
				
			</form>		
		</div>
	</div>
<% end %>

<form action="/" method="post" accept-charset="utf-8">
	<input type="text" name="articles[sujet]" placeholder="Sujet:">
	<input type="text" name="articles[name]" placeholder="Nom:">
	<textarea name="articles[message]" placeholder="Votre texte ici:"></textarea>
	<input type="submit" value="Poster">
</form>	
